.container {
    margin: 2% 0;
    display: flex;
    align-items: center;
}

.card {
    margin: 1% !important;
    background-color: #f2f2f2 !important;
}

.infected {
    border-top: 15px solid red;
}

.recovered {
    border-top: 15px solid green;
}

.hospitalized {
    border-top: 15px solid blue;
}

.deaths {
    border-top: 15px solid black;
}

.increased {
    font-size: 16px;
    font-weight: bold;
    color: red;
    margin: 0px;
    margin-left: 3%;
}

.increased_healed{
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    margin-left: 3%;
    color: green !important;
}

.container_flex_row {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.modifiedDate {
    font-size: 14px !important;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 80% !important;
        margin: 3% 0px !important;
    }

    .container {
        margin-top: 10% !important;
        padding: 0px 10%;
    }
}
  