.container {
    margin: 2% 0;
    display: flex;
    align-items: center;
}

.card {
    margin: 1% !important; 
}

.infected {
    border-top: 15px solid red;
}

.recovered {
    border-top: 15px solid green;
}

.hospitalized {
    border-top: 15px solid blue;
}

.deaths {
    border-top: 15px solid black;
}

.increased {
    font-size: 16px;
    font-weight: bold;
    color: red;
    margin-left: 3%;
}

.increased_healed{
    font-size: 16px;
    font-weight: bold;
    margin-left: 3%;
    color: green !important;
}

.container_flex_row {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}